<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styleIndex.css">
    <title>OTA Services</title>
</head>
<body>
    <div class = "header">
        <h2 class = "header-content">Intelligence Control System</h2>
    </div>
    <div class = "main">
        <div class = "symbol">
            <img src="../assets/img/logo.png" alt="Name" class ="icon-img">
        </div>
        <div class = "content">
            <p>
                This page is used for the sole purpose of updating system firmware by over the air. Therefore, an admin account is required to access this page. To request an admin account (when allowed).Please contact me at
                <a href="mailto:mail@mail.com">dathoangcet@gmail.com</a>
            </p>
        </div>
        <div class = "btn">
            <a href = "https://serverota.auth.ap-southeast-2.amazoncognito.com/login?client_id=3c9gf581993kabt925calusq08&response_type=code&scope=email+openid&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2FsignIn.html" class = "button">Login As Administrator</a>
        </div>
    </div>
</body>